.Rproj.user
.Rhistory
.RData
.Ruserdata
data/V6GL02.04.CNNPM25.GL.202301-202312.nc
revisions/dataCensus/MP_SA_2011.shp
revisions/dataCensus/MP_SA_2011.dbf
revisions/dataCensus/MP_SA_2011.prj
revisions/dataCensus/MP_SA_2011.shx